body {
  background: white;
  font-family: sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  width: 760px;
  margin: 0 auto 0 auto;
}
a,
a:visited {
  color: #D9534F;
}
a:hover,
a:visited:hover {
  color: #c9302c;
}
ul,
ol {
  list-style-position: outside;
  color: #333;
}
ul li,
ol li {
  margin: 0 0 4px 0;
}
span.lang {
  color: #D9534F;
  padding: 1px 2px;
  border-radius: 3px;
  font-weight: bold;
}
#maincontent {
  margin-right: 00px;
  padding-top: 30px;
}
#maincontent h2.page-title {
  padding: 0 0 20px 0;
  margin: 0;
  text-align: left;
}
#maincontent h2,
#maincontent h3,
#maincontent h4,
#maincontent h5 {
  font-weight: normal;
}
#maincontent a,
#maincontent a:visited {
  text-decoration: none;
}
#maincontent p {
  margin: 0 0 20px 0;
  line-height: 1.4em;
  color: #333333;
}
#maincontent div#footer {
  border-top: 1px solid #e5e5e5;
  padding: 10px 0 45px 0;
  margin: 35px 0 0 0;
  font-size: 11px;
  color: #aaa;
}
#maincontent div#footer a,
#maincontent div#footer a:visited {
  color: #aaa;
}
div#bio {
  font-size: 21px;
  line-height: 28px;
  margin: 0 0 45px 0;
  color: #444;
}
#wrapper {
  overflow: hidden;
}
#projects {
  overflow: hidden;
}
#projects ul {
  overflow: hidden;
  margin: 0 0 10px 0;
  padding: 0px;
  float: left;
  margin-right: 20px;
}
#projects ul li {
  padding: 0;
  margin: 0 0 0 0;
  list-style: none;
}
#projects ul li h5 {
  margin: 0 0 6px 0;
  font-size: 16px;
  font-weight: normal;
}
#projects ul li p {
  color: #666;
}
#blog-posts ul {
  margin: 15px 0 45px 0;
  padding: 0;
}
#blog-posts ul li {
  list-style: none;
  font-size: 16px;
  margin: 0 0 25px 0;
  overflow: hidden;
}
#blog-posts ul li span.date {
  color: #666;
  font-size: 12px;
}
#blog-posts ul li a {
  text-decoration: none;
}
#blog-posts ul li div.description {
  font-size: 16px;
  margin: 6px 0 0 0;
  color: #666;
}
ul#nav {
  margin: 20px 0 0 0;
  padding: 0;
  border-top: 1px solid #eee;
}
ul#nav li {
  list-style: none;
  border-bottom: 1px solid #eee;
}
ul#nav li a {
  display: block;
  padding: 12px 4px;
}
div#hero {
  padding: 30px 0px 0 0px;
  margin: 0;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  text-align: left;
}
div#hero img {
  margin: 0 0 15px 0;
}
div#hero h1 {
  margin: 0 0 4px 0;
  font-weight: normal;
  font-size: 1.5em;
}
div#hero h1 a {
  text-decoration: none;
}
div#hero p#strapline {
  font-size: 14px;
  margin: 0 0 15px 0;
}
code {
  padding: 1px 2px;
  background: #f5f5f5;
  font-size: 0.8em;
  border-radius: 4px;
}
div.highlight {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  padding: 15px 15px;
  margin: 10px 0 25px 0;
  overflow-x: auto;
}
pre {
  margin: 0;
  padding: 0;
}
pre code {
  background: none;
  font-size: 14px;
  padding: 0px;
  border: 0;
}
div.tags span {
  color: #444444;
  background: #f5f5f5;
  padding: 2px 4px;
  border-radius: 2px;
}
div.tags span:hover {
  background: #444;
  color: white;
}
