---
---
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic);
$background-color: #2B2E48;
$header-color: #923448;
$headings: #E84545;


body {
	margin-bottom:5rem;
	background: $background-color;
	color: #fff;
	font-family: 'Lato', sans-serif !important;
}

a {
	color: $headings;
	&:hover {
		color: $header-color;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
}

h2.page-title {
	color: $headings;
}

.posts.list {
	h2 {
		color: #95A5A6;
	}
}

.posts.list .row {
	padding: 40px 0;
}
code {
	background: none;
	border: 0;
	color: #E74C3C;
	padding: 0;
}
.posts.list span.post-date {
	color: lighten($background-color, 40%);
	font-size: 0.8em;
}
.posts.list .row {
	p.post-tags {
		margin-top: 10px;
		font-size: 0.8em;
		overflow: hidden;
		span.tag {
			background: darken($background-color, 3%);
			padding: 4px 8px;
			margin-right: 10px;
			border-radius: 2px;
			float: left;
			display: block;
		}
	}
	.excerpt {
		color: lighten($background-color, 40%);
	}
	h3 a {
		color: #fff;
		&:hover {
			color: #fff;
		}
	}
	// &:nth-child(2n) h3 a {
	// 	color: #E74C3B;
	// 	&:hover {
	// 		color: #C0392A;
	// 	}
	// }
	// &:nth-child(3n) h3 a {
	// 	color: #9B59B6;
	// 	&:hover {
	// 		color: #8E44AD;
	// 	}
	// }
}


header {
	background: $header-color;
	color: #ffffff;
	margin: 0 0 3rem 0;
	padding: 2rem;

	h1 {
		color: #fff;
		line-height: 1;
		margin: 0 0 4px 0;
	}
}

.bio {
	p {
		font-size: 1.1rem;
		font-weight: 300;
	}
	a {
		color: lighten($header-color, 35%);
		font-weight:500;
		&:hover {
			text-decoration: underline;
			color: #fff;
		}
	}
}

.post {
	.post-header {
		margin-bottom: 3rem;
		h2 {
			color: #26C281;
		}
		p.post-date {
			color: #BDC3C7;
		}
	}
	.post-content {
		margin-bottom: 6rem;

		img {
			border-radius: 2px;
			margin: 2rem 0;
		}
	}
	.related {
		h3 {
			margin-bottom: 2rem;
			color: #fff;

		}
		div.row {
			padding: 4px 0;
			small {
				color: lighten($background-color, 40%);
				font-size: 0.8em;
			}
		}
	}
	pre {
		background: #49483e;
		padding: 20px;
		font-size: 0.9rem;
		border-radius:3px;
		margin: 2rem 0;
		overflow-x: auto;
		box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
		code {
			background: none;
			padding: 0;
			color: #fff;
			border: 0;
		}
	}
}

.nav {
	margin-top: 2rem;
	ul {
		list-style: none;
		margin: 0;
		li {
			display: inline-block;
			padding-right: 1rem;
			a {
				color: lighten($header-color, 30%);
				&:hover {
					color: #fff;
				}
			}
		}
	}
}

footer {
	text-align: center;
	font-size: 0.8rem;
	margin: 4rem 0 1rem 0;
	color: #CBD0D3;
	padding: 1rem 0;
}

.projects {
	margin-top: 1.5rem;

	.row {
		h2 {
			a {
				color: #fff;
			}
		}
		padding: 1.5rem 0;
	}
}
